.MovieTile{
    width: 500px;
    height: auto;
    margin-bottom: 40px;
}

.WrapTile{
    display: flex;
    flex-direction: row;
}

.WrapWrapTile{
    display: flex;
    background-color: rgb(63, 45, 45);
    padding: 0 13px;
    flex-direction: column;
    width: 287px;
    text-align: center;
    
}