.MovieTile{
    width: 400px;
    max-height: 270px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
    box-shadow: 5px #ffffff;
}

.WrapTile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.WrapImg{
    height: 270px;
}

.WrapImg img{
    max-height: 100%;
}
.WrapWrapTile{
    display: flex;
    padding: 0 13px;
    flex-direction: column;
    width: 300px;
    }

    .WrapWrapTile h5 {
    color: rgba(10, 1, 1, 0.829);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.WrapWrapTile h5 span{
    font-size: 14px;
}

.Votes {
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}